/* Add your own CSS rules here */
#description {
  margin: 0 0 1em 0;
}

tei-teiHeader {
  display: none;
}

.content {
  max-width: 1012px;
  margin-left: auto;
  margin-right:auto;
margin-top: 20px;
  }
